<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

  <h2>로그인 페이지</h2>
  <h3>css는 없따..</h3>

  <form action="/member/Login" method="post">
    <div class="form-group">
      <label for="id">id</label>
      <input type="text" id="id" name="id" placeholder="id를 입력하세요">
      <br/>
      <label for="pw">pw</label>
      <input type="text" id="pw" name="pw" placeholder="패스워드를 입력하세요">
      <br/>
    </div>
    <button type="submit">로그인</button>
    <button type="button" class="navyBtn" onClick="location.href='/member/Register'">회원가입</button>

  </form>

</div>
</body>
</html>