<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

  <h2>회원 가입 페이지</h2>
  <h3>여기도 css는 없지</h3>

  <form action="/member/join" method="post">
    <div class="form-group">
      <label for="id">id</label>
      <input type="text" id="id" name="id" placeholder="id를 입력하세요">
      <br/>
      <label for="password">pw</label>
      <input type="text" id="password" name="password" placeholder="pw를 입력하세요">
      <br/>
      <label for="name">이름</label>
      <input type="text" id="name" name="name" placeholder="이름를 입력하세요">
      <br/>
      <label for="email">이메일</label>
      <input type="text" id="email" name="email" placeholder="email를 입력하세요">
      <br/>
    </div>
    <button type="submit">등록</button>
  </form>

</div>
</body>
</html>