<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>게시판 페이지</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">bno</th>
    <th scope="col">Title</th>
    <th scope="col">Writer</th>
    <th scope="col">Regdate</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="dto : ${result.dtoList}" >
    <th scope="row">
      <a th:href="@{/board/read(bno = ${dto.bno},
                    page= ${result.page},
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword})}">
        [[${dto.bno}]]
      </a>
    </th>
    <td>[[${dto.title}]]]</td>
    <td>[[${dto.writerName}]] <small>[[${dto.writerEmail}]]</small> </td>
    <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
  </tr>
  </tbody>
</table>





</body>
</html>